* {
	margin: 0;
	padding: 0;
}

.footer .row.text-center {
	position: relative;
	z-index: 10;
}

footer.footer {
	margin-top: 100px;
	min-height: 200px;
	padding: 92px;
	background: url(images/1.jpg);
	color: #9b9b9b;
	position: relative;
}

footer.footer::after {
	content: "";
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(
		left,
		rgba(0, 0, 0, 0.31) 0%,
		rgba(0, 0, 0, 0.98) 50%,
		rgba(0, 0, 0, 0.62) 100%
	);
	position: absolute;
	top: 0;
	left: 0;
}

.chu {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 600;
}

.conso {
	width: 100%;
	height: 300px;
	border: 10px solid #5ce5cb;
	text-align: center;
	padding-top: 61px;
	color: white;
	margin-top: 30px;
}

.numbers {
	border-top: dashed 2px rgb(192, 192, 192);
	margin-top: 94px;
	background: url(images/bg_number.jpg) repeat-x 0px 115px;
	min-height: 418px;
}

.so {
	font-size: 61px;
	font-family: 'Playfair Display', serif;
	color: #5ce5cb;
}

.danhmucsanpham {
	color: #111011;
	font-size: 23px;
	text-transform: none;
	position: relative;
	padding-top: 11px;
	font-weight: 600;
}

._1team .danhmucsanpham {
	font-size: 16px;
}

._1team .danhmucsanpham:after {
	height: 3px;
	width: 40px;
}

.danhmucsanpham:after {
	content: "";
	width: 70px;
	height: 5px;
	background: black;
	position: absolute;
	left: 0;
	top: 0;
}

h4.tensanpham {
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 25px;
}

._1team h4.tensanpham {
	font-size: 22px;
	text-transform: capitalize;
}

._1sanpham img {
	width: 100%;
}

span.thongtinsanpham {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: #5ce5cb;
	padding: 35px 32px;
	transition: 0.4s;
	bottom: -400px;
}

a._1sanpham {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-bottom: 31px;
}

a._1sanpham:hover .thongtinsanpham {
	bottom: 0;
}

a.nutwelcome.btn.btn-default {
	border: 0px;
	background: #141414;
	color: #5ce5cb;
	padding: 14px 32px;
	border-radius: 0px;
	border-bottom: 4px solid #5ce5cb;
	font-weight: 600;
	font-size: 17px;
	text-transform: capitalize;
}

a.nutwelcome.btn.btn-default:hover {
	color: black;
	background: #5ce5cb;
	border-color: black;
	transition: 0.4s;
	animation: tada 1s;
}

.noidung1cot {
	line-height: 25px;
	height: 71px;
	margin-bottom: 37px;
}

.vienxanh {
	color: #292929;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 29px;
	position: relative;
	padding-top: 21px;
}

h2.vienxanh.chungan {
	display: inline-block;
	margin-bottom: 80px;
}

h3.vienxanh {
	font-size: 22px;
	padding-bottom: 25px;
}

.tieudewelcome h2.vienxanh::after {
	left: 75px;
}

.vienxanh::after {
	content: "";
	width: 65px;
	height: 5px;
	background: #5ce5cb;
	position: absolute;
	top: 0;
	left: 0;
}

.tieudewelcome {
	padding-top: 121px;
	color: #898989;
	font-size: 13px;
	padding-bottom: 127px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.motawelcome {
	padding: 31px 0 95px 0;
	line-height: 28px;
	font-size: 16px;
}

.navbar-header {
	animation: thunho 1s forwards;
}

@keyframes ditutrenxuong {
	from {
		transform: translateY(-300px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes thunho {
	from {
		transform: scale(2);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.navbar-default .navbar-collapse {
	animation: ditutrenxuong 1s forwards;
	animation-delay: 0.5s;
	opacity: 0;
}

.btn.btn-default.nutrang,
.nutxanh {
	border-radius: 20px;
	font-size: 19px;
	padding: 10px 37px;
	font-weight: bold;
	width: 188px;
	margin-top: 29px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: capitalize;
	opacity: 0;
	animation: ditutraisang 1s forwards;
	animation-delay: 2s;
	color: #292929;
}

.nutxanh {
	background: #5ce6cc;
}

.xanh {
	color: #5ce6cc;
}

.d2 {
	font-size: 67px;
}

.khoitextslide {
	position: relative;
	z-index: 2;
	margin-top: 230px;
	font-size: 40px;
	font-family: segoe ui light;
	color: white;
	font-weight: bold;
}
.badongtext {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	animation: ditutraisang 1s forwards;
	animation-delay: 1.5s;
	opacity: 0;
}

@keyframes ditutraisang {
	from {
		transform: translateX(-500px);
		opacity: 0;
	}
	to {
		transform: translate(0);
		opacity: 1;
	}
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #5ce6cc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background: none;
	color: #5ce6cc;
	position: relative;
}

.navbar-default .navbar-nav > .active > a::after {
	content: "";
	width: 36%;
	height: 2px;
	background: #5ce6cc;
	position: absolute;
	bottom: 8px;
	left: 32%;
}

.headertren {
	padding-top: 47px;
	background: url(images/1.jpg);
	min-height: 883px;
	position: relative;
	animation: ditutrenxuong 1.5s forwards;
}

.headertren::after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
}

nav.navbar.navbar-default {
	background: transparent;
	border: 1px solid transparent;
	position: relative;
	z-index: 2;
}
/*mobile*/
@media (max-width: 767px) {
	.headertren {
		background: url(images/2.jpg);
		background-size: cover;
	}
	.d2 {
		font-size: 21px;
		font-weight: 600;
	}
	.badongtext {
		font-size: 14px;
	}
	.btn.btn-default.nutrang,
	.nutxanh {
		font-size: 14px;
		width: auto;
		margin-bottom: 20px;
	}
	.numbers {
		background: url(images/bg_number.jpg);
		
	}
}
/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
	.headertren {
		background: url(images/3.jpg);
		background-size: cover;
	}
	.navbar-header {
		text-align: center;
		float: none;
	}
	.navbar-brand {
		float: none;
	}
	.navbar-header img {
		display: inline;
	}
	.badongtext {
		font-size: 20px;
	}
	.badongtext .d2 {
		font-size: 41px;
	}
}
/*desktop nho*/
@media (min-width: 992px) and (max-width: 1199px) {
	* {
	}
}
/*man hinh lon*/
@media (min-width: 1200px) {
	* {
	}
}
