* {margin: 0; padding: 0;}

.container {padding: 20px; background: rgba(173, 216, 230, 0.41);}

img {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  img {
    width: calc((100% - 30px) / 3);
  }

}
