* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 30px;
    color: #ffffff;
}

.red {
    background-color: red;
    height: 400px;
    width: calc((100% - 30px) / 3);
}

.green {
    background-color: green;
    height: 400px;
    width: calc((100% - 30px) / 3);
    margin-left: 15px;
}

.blue {
    background-color: blue;
    height: 400px;
    width: calc((100% - 30px) / 3);
    margin-left: 15px;
}

.box{
    float: left;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}