html, body {
	margin: 0;
	padding: 0
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	background-color: #FFFFFF;
}

h1 {
	margin: 25px 0;
	font-size: 3em;
	line-height: 1.5em;
	font-family: Georgia;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #8E0B00;
	text-align: center;
}

.wrap {
	margin: auto;
	max-width: 1000px;
}

.col {
	float: left;
	width: 33.333333333%;
	padding: 15px;
	position: relative;
}

.thump {
	padding: 4px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.thump img {
	vertical-align: middle;
	opacity: 1;
	transition: opacity 0.5s linear, max-width 1s linear;
}

.thump:hover img{
	opacity: 0.5;
	max-width: 70%;
}


